div.catalogAZListBox {
}
div.catalogAZListBox ul.catalogAZList {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.box div.catalogAZListBox ul.catalogAZList li {
  padding-left: 0;
  float: left;
  padding-right: 3px;
}
div.catalogAZListBox ul.catalogAZList li a {

}