/* Stickers box
-----------------------------------------------------------------------------*/

div.stickerBox {
  margin: 7px;
}

div.stickerBox div.stickerAuthor {
  text-align: right;
  font-style: oblique;
}

div.stickerBox div.stickerText {
}

div.stickerBox div.stickerImage {
}